<odoo>
    <record id="view_certificador_config_form" model="ir.ui.view">
        <field name="name">certificador.config.form</field>
        <field name="model">certificador.config</field>
        <field name="arch" type="xml">
            <form string="Configuración Certificador FEL">
                <group>
                    <field name="name"/>
                    <field name="url_login"/>
                    <field name="url_solicitud"/>
                    <field name="url_anulacion"/>
                    <field name="usuario"/>
                    <field name="clave"/>
                    <field name="es_pruebas"/>
                    <field name="token" readonly="1"/>
                    <field name="token_valido_hasta" readonly="1"/>
                </group>
            </form>
        </field>
    </record>

    <menuitem id="menu_certificador_config" name="Configuración Certificador" parent="account.menu_finance" action="action_certificador_config"/>

    <record id="action_certificador_config" model="ir.actions.act_window">
        <field name="name">Configuración Certificador</field>
        <field name="res_model">certificador.config</field>
        <field name="view_mode">form</field>
        <field name="target">current</field>
    </record>
</odoo>
